.App {
  display: flex;
  justify-content: center;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}


input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.45345;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formControl {
  margin-bottom: 20px;
}

.errors {
  color: red;
}

.fieldArray {
  display: flex;
  margin-top: 10px;
}

.button {
  margin-left: 5px;
  font-size: 14px;
  line-height: 1.45345;
  color: rgb(37, 35, 35);
  background-image: none;
  border: 1px solid #ccc;
}